* {
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
}
@font-face
{
    font-family: 'Emulogic';
    src: url("./static/emulogic-font/Emulogic-zrEw.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}